<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %> <br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :detail %> <br>
    <%= form.text_area :detail %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.date_select :deadline %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, ['high', 'middle', 'low']%>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ['not started', 'started', 'completed']%>
  </div>

  <% Label.all.each do |label| %>
    <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
    <%= form.label :label_ids, label.name, class:"label-bg", value: label[:id]%>
  <% end %>

  <div class="actions">
    <%= form.submit "submit" %>
  </div>
<% end %>
