<!DOCTYPE html>
<html>
  <head>
    <title>Manyoukadai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <% if logged_in? %>
        <% if current_user.is_admin? %>
          <%= link_to "Admin", admin_users_path %>
        <% end %>
        <%= link_to "Task list", tasks_path %> |
        <%= link_to "Labels", labels_path %> |
        <%= link_to "Profile", user_path(current_user.id) %> |
        <%= link_to "Logout", session_path(current_user.id), method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_path %> |
        <%= link_to "Log in", new_session_path %>
      <% end %>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class:"#{key}") %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
